html {
}
body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    line-height: 1.5;
    margin-bottom: auto;
}
html, body {
    height: 100%;
}
h1{
    color: black;
    font-family: fantasy;
    font-size: 4rem;
    text-align: center;
}
h2{
    color:black;
    font-family: fantasy;
    font-size: 2rem;
}
p    {
    column-count: 2;
    column-gap: normal;
    column-rule-color: black;
    column-rule-style: solid;
    column-span: all;
}
.btn-social-icon.btn-lg {
    height: 45px;
    width: 45px;
    padding-left: 0;
    padding-right: 0;
}
.btn-social-icon.btn-lg {
    padding-left: 61px;
}
.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social-icon {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 34px;
    width: 34px;
    padding: 0;
}
.btn-social-icon {
    margin-bottom: 4px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
